<% if @repos.length != 0 %>
<ul class="nav nav-tabs nav-stacked">
  <% @repos.each do |repo| %>
  <li><a href="/<%= @active %>/repo/<%= repo['display_name'] %>"><%= repo["display_name"] %></a></li>
  <% end %>
  <% end %>
</ul>
